.formBox {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 512px;
    height: 420px;
    overflow: hidden;
    z-index: 2;
    

}

.registerContainer {
   /* background-color: rgb(255, 255, 255, 0.3); */
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-in-out;
}

.top span {
    font-size: 13px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.top span a {
    font-weight: 500;
    color: rgb(0, 8, 20);
    margin-left: 5px; /*odstęp zaloguj sie od ?*/
    
}

header {
    font-size: 30px;
    text-align: center;
    padding: 10px 0 20px 0;
}
.inputField {
    font-size: 15px;
    background-color: rgb(255, 255, 255, 0.8);
    color: rgb(0, 8, 20);
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none; /*likwiduje obramowanie pola*/
    border-radius: 30px;
    outline: none; /*likwiduje niebieskie obramowanie po kliknięciu*/
    transition: 1s ease; /* animacja tekstu w środku pola*/
}

.inputBox i{
    color: rgb(0, 8, 20);
    position: relative;
    top: -38px; /* 38px przesunięcia w górę*/
    left: 15px; /* 15px przesunięcia od lewej strony*/
}

.submit {
    font-size: 15px;
    font-weight: 500;
    background-color: rgb(255, 255, 255, 0.8);
    color: rgb(0, 8, 20);

    height: 45px;
    width: 100%;
    border: none; /*likwiduje obramowanie pola*/
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    transition: 1s ease;
}

.columns {
    display: flex;
    justify-content: space-between;
    color: rgb(0, 8, 20);
    font-size: 13px;
    margin-top: 10px;
}

.checkbox {
    display: flex;
    gap: 10px;
    font-weight: 500;
}

.terms span a{
    color: rgb(0, 8, 20);
    text-decoration: none;
    font-weight: 500;
}